@using Pizzeria.Common
@using Pizzeria.Web.ViewModels.Home
@model ICollection<IndexViewModel>
@{
    this.ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to @GlobalConstants.SystemName!</h1>
@*    @foreach (var item in Model)
    {
        <p>@item.Name</p>
        <p>@item.ImageURL</p>
        <p>@item.Ingredients.ToString()</p>
       
    }*@
</div>
