@using Pizzeria.Common
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@this.ViewData["Title"] - @GlobalConstants.SystemName</title>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nothing+You+Could+Do" rel="stylesheet">

    <link rel="stylesheet" href="~/css/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="~/css/animate.css">

    <link rel="stylesheet" href="~/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/css/magnific-popup.css">

    <link rel="stylesheet" href="~/css/aos.css">

    <link rel="stylesheet" href="~/css/ionicons.min.css">

    <link rel="stylesheet" href="~/css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="~/css/jquery.timepicker.css">


    <link rel="stylesheet" href="~/css/flaticon.css">
    <link rel="stylesheet" href="~/css/icomoon.css">
    <link rel="stylesheet" href="~/css/style.css">

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
            <div class="container">



                <div class="collapse navbar-collapse" id="ftco-nav">
                    <a class="navbar-brand" asp-area="" asp-controller="Pizzas" asp-action="Index"><span class="flaticon-pizza-1 mr-1"></span>@GlobalConstants.SystemName<br><small></a>

                    <ul class="navbar-nav ml-auto">
                        @if (this.User.IsInRole(GlobalConstants.AdministratorRoleName))
                        {
                            <li class="btn-group">
                                <button type="button" class="btn btn-primary">Show All</button>
                                <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
                                    <span class="visually-hidden">Toggle Dropdown</span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a class="nav-link text-dark" asp-area="" asp-controller="Pizzas" asp-action="All">All Pizza</a></li>
                                    <li><a class="nav-link text-dark" asp-area="Administration" asp-controller="Doughs" asp-action="All">All Dough</a></li>
                                    <li><a class="nav-link text-dark" asp-area="Administration" asp-controller="SauceDips" asp-action="All">All Sauce</a></li>
                                    <li><a class="nav-link text-dark" asp-area="Administration" asp-controller="Ingredients" asp-action="All">All Ingredients</a></li>
                                    <li><a class="nav-link text-dark" asp-area="Administration" asp-controller="IngredientCategories" asp-action="All">All Ingredient Category</a></li>
                                    <li><a class="nav-link text-dark" asp-area="Administration" asp-controller="Sizes" asp-action="All">All Sizes</a></li>

                                </ul>
                            </li>


                            <li class="btn-group">
                                <button type="button" class="btn btn-primary">Create</button>
                                <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
                                    <span class="visually-hidden">Toggle Dropdown</span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a class="nav-link text-dark" asp-area="Administration" asp-controller="Pizzas" asp-action="Create">Create Pizza</a></li>
                                    <li><a class="nav-link text-dark" asp-area="Administration" asp-controller="Doughs" asp-action="Create">Create Dough</a></li>
                                    <li><a class="nav-link text-dark" asp-area="Administration" asp-controller="SauceDips" asp-action="Create">Create Sauce</a></li>
                                    <li><a class="nav-link text-dark" asp-area="Administration" asp-controller="Ingredients" asp-action="Create">Create Ingredients</a></li>
                                    <li><a class="nav-link text-dark" asp-area="Administration" asp-controller="IngredientCategories" asp-action="Create">Create Ingredient Category</a></li>
                                    <li><a class="nav-link text-dark" asp-area="Administration" asp-controller="Sizes" asp-action="Create">Create Size</a></li>

                                </ul>
                            </li>

                            <li class="btn-group">
                                <button type="button" class="btn btn-primary">Restore</button>
                                <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
                                    <span class="visually-hidden">Toggle Dropdown</span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a class="nav-link text-dark" asp-area="Administration" asp-controller="Pizzas" asp-action="Restore">Restore Pizza</a></li>
                                    <li><a class="nav-link text-dark" asp-area="Administration" asp-controller="Doughs" asp-action="Restore">Restore Dough</a></li>
                                    <li><a class="nav-link text-dark" asp-area="Administration" asp-controller="SauceDips" asp-action="Restore">Restore Sauce</a></li>
                                    <li><a class="nav-link text-dark" asp-area="Administration" asp-controller="Ingredients" asp-action="Restore">Restore Ingredients</a></li>
                                    <li><a class="nav-link text-dark" asp-area="Administration" asp-controller="IngredientCategories" asp-action="Restore">Restore Ingredient Category</a></li>
                                    <li><a class="nav-link text-dark" asp-area="Administration" asp-controller="Sizes" asp-action="Restore">Restore Sizes</a></li>

                                </ul>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Chat">Pizza Chat</a>
                            </li>
                        }

                        @if (this.User.IsInRole(GlobalConstants.UserRoleName))
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="ShoppingCarts" asp-action="Index">Shopping Cart</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Chat">Pizza Chat</a>
                            </li>

                        }
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Pizzas" asp-action="Menu">Menu</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="About">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Contact">Contact</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Pizzas" asp-action="Services">Services</a>
                        </li>
                    </ul>

                </div>
                <partial name="_LoginPartial" />
            </div>
        </nav>


    </header>

    <div class="container">
        <partial name="_CookieConsentPartial" />
        <main role="main" class="pb-3">
            @this.RenderBody()
        </main>
    </div>

    <footer class="ftco-footer ftco-section img">
        <div class="overlay"></div>
        <div class="container">
            <div class="row mb-5">
                <div class="col-lg-3 col-md-6 mb-5 mb-md-5">
                    <div class="ftco-footer-widget mb-4">
                        <h2 class="ftco-heading-2">About Us</h2>
                        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                        <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-5">
                            <li class="ftco-animate"><a href="https://twitter.com/softunibg"><span class="icon-twitter"></span></a></li>
                            <li class="ftco-animate"><a href="https://www.facebook.com/SoftwareUniversity"><span class="icon-facebook"></span></a></li>
                            <li class="ftco-animate"><a href="https://www.instagram.com/softuni.bg"><span class="icon-instagram"></span></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6 mb-5 mb-md-5">
                </div>
                <div class="col-lg-2 col-md-6 mb-5 mb-md-5">
                </div>
                <div class="col-lg-2 col-md-6 mb-5 mb-md-5">
                </div>
                <div class="col-lg-3 col-md-6 mb-5 mb-md-5">
                    <div class="ftco-footer-widget mb-4">
                        <h2 class="ftco-heading-2">Have a Questions?</h2>
                        <div class="block-23 mb-3">
                            <ul>
                                <li><span class="icon icon-map-marker"></span><span class="text">203 Fake St. Mountain View, San Francisco, California, USA</span></li>
                                <li><a><span class="icon icon-phone"></span><span class="text">+42424242424</span></a></li>
                                <li><a><span class="icon icon-envelope"></span><span class="text">Pizzria@Pizzria.com</span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" /><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00" /></svg></div>


    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/jquery-migrate-3.0.1.min.js"></script>
    <script src="~/js/popper.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/jquery.easing.1.3.js"></script>
    <script src="~/js/jquery.waypoints.min.js"></script>
    <script src="~/js/jquery.stellar.min.js"></script>
    <script src="~/js/owl.carousel.min.js"></script>
    <script src="~/js/jquery.magnific-popup.min.js"></script>
    <script src="~/js/aos.js"></script>
    <script src="~/js/jquery.animateNumber.min.js"></script>
    <script src="~/js/bootstrap-datepicker.js"></script>
    <script src="~/js/jquery.timepicker.min.js"></script>
    <script src="~/js/scrollax.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
    <script src="~/js/google-map.js"></script>
    <script src="~/js/main.js"></script>

    <script src="~/lib/signalr/dist/browser/signalr.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js" asp-append-version="true"></script>
    <script src="~/js/site.min.js" asp-append-version="true"></script>
    @await this.RenderSectionAsync("Scripts", required: false)


</body>
</html>